body {
	background-color: #fafafa;
	padding: 0;
	margin: 0;
}

#header {
	transition: all 1s;
}

.sticky {
	position: fixed;
	top: 0;
	z-index: 2;
	display: block;
	width: 100%;
	height: 39px;
	padding: 0;
	margin: 0;
	background-color: #d4d4d4;
	opacity: 0.6;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: right;
	display: inline-block;
	position: relative;
	font-family: 'Raleway', sans-serif;
	color: black;
}
/*This is the submenu*/
nav li ul {    
    background-color:#d4d4d4;
    opacity: 0.8;
    border-radius: 5px;
    color: black;
    position:absolute;
    width:auto;
    display: none;
}

nav li li {
	margin: 2px;
	width: 100%;
}

/* This is the highlighted box */
nav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

.c {
	margin-left: 4px;
}

nav li a:hover {
    background-color: #bfbfbf;
}

/********************Navigation for Collections********************/

#colnav {
	position: relative;
	padding: 5% 10% 2% 14%;
	margin-bottom: 2%;
	background-color: #fff;
	border-bottom: 1px solid #dbdbdb;
	position: relative;
}
#colnav ul {
	position: absolute;
	top: 69%;
	right: 10%;
	transform: translateY(-50%);
	width: 56%;
	margin: 0;
	/*float: right;*/
	text-align: right;
}
#colnav ul li {
	list-style-type: none;
	font-family: "EB Garamond", serif;
	font-size: 16px;
	display: inline;
	margin: 0 1.8%;
	background-color: #fff;
}
#colnav ul li a {
	padding: 0;
	margin: 0;
	display: inline;
	text-decoration: none;
	color: black;
}
#colnav ul li a:hover {
	background-color: #fff;
	color: #d4d4d4;
}
h1 {
	font-family: "Dancing Script", cursive;
	font-size: 70px;
	margin:0;
	padding:0;
	display: inline;
}
#colnav p {
	display: inline;
	float: right;
	width: 40%;
	font-family: "EB Garamond", serif;
	font-size: 18px;
	/*text-align: center;*/
	margin-right: 12vw;
	position: absolute;
	bottom: 12%;
	right: 0;
}

/************************Each Collection**********************/

div.collection {
	position: relative;
	background-color: #fdfdfd;
	background-size: cover;
	height: 46vh;
	width: 79%;
	margin: 1% 10.5% 1% 10.5%;
	border: 1px solid #dbdbdb;
}

.scrolly {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.collection img {
    width: 40vh;
    height: 40vh;
    margin: 3vh 2.5vw 3vh 0;
    display: inline;
    z-index: 0;
}

.collection img:nth-child(1) {
    margin-left: 2.5vw;
}

.cover {object-fit: cover;}
#pos {object-position: 0 0;}
.collection .viewmore {
	position: absolute;
	width: 20vh;
    height: 40vh;
    margin: 5vh 0 5vh 0;
    display: inline;
    z-index: 4;
}
.collection .viewmorel {
	position: absolute;
	width: 20vh;
    height: 40vh;
    margin: 5vh 0 5vh 0;
    display: inline;
}
.viewmorel ul {margin: 0;}
.viewmorel ul li {
	list-style-type: none;
	font-family: "EB Garamond", serif;
	font-size: 46px;
	/*margin: 0 2%;*/
	background-color: #fff;
}
.viewmorel ul li a {
	text-decoration: none;
	color: #000;
}
.viewmorel ul li a:hover {
	background-color: #fff;
	color: #d4d4d4;
}
.collection img.viewimg {
	position: absolute;
	top: 45%;
	left: 42%;
	transform: translateX(-50%) translateY(-50%);
	margin: 0;
	height: 15vh;
	width: 15vh;
}

.overlay {
	position: absolute;
	top: 0;
	background-color: #000;
	height: 100%;
	width: 0;
	z-index: 2;
	color: white;
	opacity: 0.3;
	display: none;
}
.overlay2 {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
	display: none;
}
.overlay2 div {
	position: relative;
	left: 87%;
	top: 50%;
	transform: translateY(-50%);
	color: white;
}
h2 {
	position: absolute;
	bottom: 4%;
	font-family: "EB Garamond", serif;
	font-size:  30px;
	margin-left: 5%;
	z-index: 3;
	color: white;
}
.overlay2 img { height: 59px; width: 59px;}


/****************** Row for each collection *******************/
.start {
	position: relative;
	height:70px;
	margin: 0;
	margin-bottom: 4%;
	background-size: cover;
}
.start p {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 40%;
	height: 100%;
	border-radius: 75% 75% 75% 75%;
	object-fit: cover;
	object-position: 50% 50%;
	font-family: "EB Garamond", serif;
	font-style: italic;
	font-size: 20px;
	text-align: center;
}

div.row {
	position: relative;
	background-size: cover;
	height: 40vh;
	width: 77%;
    margin: 1.1666% auto;
	padding-bottom: 1.1666%;
	display: none;
	padding-top: auto;
}
.row img {
    width: 31%;
    height: 40vh;
    display: inline;
    margin: 1.1666%;
    padding: 0;
    float: left;
}
.row img:hover {
	opacity: 0.8;
}

div.pano {
	position: relative;
	background-size: cover;
	height: 28vh;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 1.1666%;
	display: none;
}

div.pano img {
	width: 100%;
    /*margin: 1.1666%;*/
	height: 28vh;
    padding: 0;
    float: left;
}

.pano img:hover {
	opacity: 0.8;
}

/****************** Lightbox functionality *******************/
#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background-color: rgba(0, 0, 0, 0.8);
    text-align:center;
}

#lightbox .x {
	background: 0 0;
	border: none;
    cursor: pointer;
    height: 50px;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

#lightbox .x:before {
	color: #fff;
	content: '\00D7';
	font-size: 50px;
	font-weight: 600;
	line-height: 50px;
    margin-right:5px;
    padding: 0;
}

#lightbox img {
	margin-top: 55px;
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width: 840px;
    max-height: 87vh;
}
.stop-scroll {overflow: hidden;}

.prev,.next {
	display: block;
    margin-top: -20px;
    pointer-events: auto;
    position: absolute;
    /*text-indent: -9999em;*/
    top: 50%;
}
.prev {
	left: 120px;
    background-image: url(img/arrow-88-32.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;}

.next {
	right: 120px;
    background-image: url(img/arrow-24-32.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;}
}

/****************** Load more *******************/

.loadIt {
	position: relative;
	width: 100%;
	height: 50px;
	/*margin: 50px auto;*/
}

#loadMore {
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin: 40px auto;
	margin-top: 70px;
  display: block;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #eaeaea, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #eaeaea, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #eaeaea, #e7e7e7); 
  background-image: -o-linear-gradient(top, #eaeaea, #e7e7e7); 
  color: #969696;
  width: 100px;
  height: 100px;
  /*position: relative;*/
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  font-family: "EB Garamond", sans-serif;
  font-size: 12px;
  text-decoration: none;
}

#loadMore:hover {
  color: #555;
  background: #f5f5f5;
  text-decoration: none;
}





